# Python byte-compiled, optimized and DLL files
*.py[cod]

# Nosetests and coverage information
.coverage
nosetests.xml
coverage.xml

# Distribution & packaging
build/
develop-eggs/
dist/
*.egg-info/
*.egg
