atomicwrites==1.4.0
attrs==21.4.0
backports.functools-lru-cache==1.6.4
configparser==4.0.2
contextlib2==0.6.0.post1
funcsigs==1.0.2
importlib-metadata==2.1.3
more-itertools==5.0.0
packaging==20.9
pathlib2==2.3.7.post1
pkg-resources==0.0.0
pluggy==0.13.1
py==1.11.0
pyparsing==2.4.7
pytest==4.6.11
scandir==1.10.0
six==1.16.0
typing==3.10.0.0
wcwidth==0.2.5
zipp==1.2.0
