Source: python-easysnmp
Section: utils
Maintainer: Norman Ovenseri <norman@uber.com>
Build-Depends: debhelper (>= 7), python (>= 2.7), python-dev, libsnmp-dev, python-setuptools, python-pip
X-Python-Version: 2.7

Package: python-easysnmp
Architecture: all
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, snmp, gcc, snmp-mibs-downloader
Description: EasySNMP uses Net-SNMP bindings for performant snmp commands
