Source: python-easysnmp
Maintainer: Norman Ovenseri <norman@uber.com>
Build-Depends: debhelper (>= 7), python (>= 2.7), python-setuptools, python-pip
X-Python-Version: 2.7

Package: python-easysnmp
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, snmp, libsnmp-dev
Description: EasySNMP uses Net-SNMP bindings for performant snmp commands
